@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,900;1,300&display=swap');

:root {
  

  --sidebar-bg: #254441 ;
  --header-bg: #81968F ;
  --main-content-bg: #96BDC6;
  --sidebar-font: #F5CB5C;
  --sidebar-font-small: #81968F;

}

* {
  margin: 0;
}

a, a:visited {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  
}

ul {
  list-style-type: none;
}

.wrapper {
  display: grid;
  
  grid-template: max-content calc(100vh) / 1fr 1fr 1fr 1fr
}

.sidebar {
  background-color: var(--sidebar-bg);
  grid-area: 1 / 1 / 4 / 2;  
  display: grid;
  grid-auto-rows: max-content;
  grid-template: max-content / max-content;
}

#sidebar-title {
  grid-area: 1 / 1 / 2 / 2;
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 10%;
  color: var(--sidebar-font);
  font-family: 'Merriweather';
  font-weight: 900;
  font-size: 30px;
}

.sidebar ul {
  padding: 0;
  grid-area: 2 / 1 / 3 / 2;
}

a {
  color: var(--sidebar-font-small);
  padding: 4px;
  margin: 10px;

  transition: 0.2s;
}

.sidebar a:hover {
  color: var(--sidebar-font);
}

.header {
  background-color: var(--header-bg);
  grid-area: 1 / 2 / 2 / 5;

}

.header-list {
  display: grid;
  grid-template: 10vh 10vh / 1fr 1fr;
  padding: 0;
}

.nav-div {
  padding: 6px;
}

.nav-div-1 {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
}

.nav-div-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-div-2 a {
  color: #001011;
}

.nav-div-2 img {
  height: 40px;
  width: 40px;
  border-radius: 25px;
}

.nav-div i {
  font-size: x-large;
}

.nav-div-3 {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-div-3 a {
  padding: 8px;
  margin: 3px;
  border-radius: 25px;
  background-color: rgb(34, 138, 241);
  color: white;
  transition: 0.2s;
}

.nav-div-3 a:hover {
  filter: brightness(80%);
}

.header ul {
  list-style-type: none;
  margin-top: 15px;
  width: 100%;
}

.header ul>li {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header input {
  padding: 12px;
  border-radius: 25px;
  border: none;
  background-color: #a0c2ca;
  transition: 0.3s;
}

.header input:focus {
  animation: linear;
  background-color: white;
  outline: none;
}

.main-content-container {
  background-color: var(--main-content-bg);
  grid-area: 2 / 2 / 4 / 5;

  display: grid;
  grid-template: max-content / 1fr 300px;
  
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: max-content;
  gap: 12px;
  margin: 6px;

  justify-items: center;
}

.projects-header {
  grid-column: 1/-1;
  font-family: 'Merriweather';
}

.project-card {
  background-color: rgba(243, 243, 243, 0.368);
  box-shadow: 5px 5px 3px #7ba4ad;
  height: 250px;
  width: minmax(300px, 330px);
  border-radius: 15px;
  padding: 30px;

  transition: 0.5s;
}

.project-card:hover {
  translate: -5px -5px;
  box-shadow: 8px 8px 8px #6698a3;
  filter: brightness(115%);
  
}

.project-text-container {
  height: 80%;
}

.project-card h2 {
  margin: 8px;
  font-family: 'Merriweather';
  font-weight: 400;
  font-style: italic;
}

.project-card p {
  margin: 8px;
}

.card-buttons {
  display: flex;
  justify-content: flex-end;
  
}

.card-button {
  margin: 4px;
}

.announcements {
  background-color: var(--main-content-bg);

  grid-template-columns: 1fr;
}
